<div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-10">
  <div class="flex flex-col">
    <h1 class="text-4xl py-8">
      Observatorio de Determinantes Sociales de la Salud de San Martin del Valle
    </h1>
    <div class="flex flex-col gap-6 text-slate-600">
      <p class="font-bold">
        Bienvenido/a al tablero de monitoreo de los Determinantes Sociales de la
        Salud.
      </p>
      <p>
        Este tablero ha sido diseñado para ofrecer una visión integral y
        actualizada de las condiciones sociales que influyen en la inequidad en
        salud de la población sobre temáticas relevante para el territorio. A
        través de este sistema, podrá identificar inequidades, comprender sus
        causas y apoyar la toma de decisiones orientadas a mejorar el bienestar
        y la equidad en salud en la población.
      </p>
      <h2 class="font-bold">¿Qué puede hacer en este tablero?</h2>
      <p>Explore de manera intuitiva las distintas secciones disponibles:</p>
      <ul class="list-disc flex flex-col gap-2 pl-4">
        <li><b>Inicio:</b> una visión general del sistema y sus objetivos.</li>
        <li>
          <b>Inequidades en salud:</b> análisis de brechas y desigualdades en problemáticas
          prioritarias para el territorio.
        </li>
        <li>
          <b>Determinantes sociales de la salud:</b> seguimiento de las condiciones
          sociales que influyen en estas inequidades, junto con seguimiento de políticas
          implementadas para abordarlas.
        </li>
        <li>
          <b>Análisis avanzado: </b> Análisis de series de tiempo, asociación y visualización
          territorial de los indicadores en relación a la problemática priorizada.
        </li>
      </ul>
      <h2 class="font-bold">Una herramienta para la acción</h2>
      <p>
        Este tablero integra visualizaciones dinámicas que facilitan el
        análisis, la comparación y el seguimiento de la situación local. Su
        propósito es apoyar la planificación estratégica y la evaluación de
        políticas públicas basadas en evidencia.
      </p>
      <p>
        Lo invitamos a recorrer sus secciones y utilizar esta herramienta para
        comprender mejor la realidad de su territorio y contribuir al desarrollo
        de acciones que promuevan la salud y la equidad.
      </p>
    </div>
  </div>
</div>
