---
import { MunicipalitiesMapPanel } from './MunicipalitiesMapPanel'
import type { EducationIndicator } from '@/lib/parquet'

interface Props {
  title: string
  text: string
  geojsonUrls: Record<EducationIndicator, string>
  csvUrl?: string
}

const { title, text, geojsonUrls, csvUrl } = Astro.props
---

<div class="flex flex-col gap-2">
  <h1 class="text-3xl font-bold my-6">{title}</h1>
  <p class="text-gray-700">{text}</p>
  <MunicipalitiesMapPanel
    geojsonUrls={geojsonUrls}
    csvUrl={csvUrl}
    client:only="react"
  />
</div>
